<small><a class="links" href=javascript:void(0) (click)="showOptions()" data-toggle="modal" data-target="#exampleModalLong">{{displayName}}</a></small>
<!-- Modal -->
<!-- <div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog uk-modal-dialog-lightbox modal-sm animated fadeInUpBig" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="editor"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="post-reply" data-toggle="modal" data-target="#exampleModalLong">Post</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong">Cancel</button>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>img</div>
      <div>name</div>
      <hr>
      <div class="text-center"><a href="">view profile</a></div>
      <div class="text-center"><a href="">send a message</a></div>
    </div>
  </div>
</div> -->
