<!-- <div class="container bg-dark p-3">
    <div class="row text-right p-0">
        <div class="col-md-12 d-inline p-0">
            <a routerLink="" routerLinkActive="nav-active" class="nav-link1" alt="Home">
                Home
            </a>
            <a (click)="toggleShowMenu()" class="nav-link1" alt="Home">
              Category
          </a>

            <ng-container *ngIf="isLoggedIn(); then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
                <div class="btn-group">
                    <div class="dropdown">
                        <a class="nav-link1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{username}}
                            </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item nav-link1" href="#">Profile</a>
                            <a class="dropdown-item nav-link1" href=javascript:void(0) (click)="logout()">Log Out</a>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseTemplate>

                <a routerLink="login" routerLinkActive="nav-active" class="nav-link1" alt="Login">Login</a>
                <a routerLink="signup" routerLinkActive="nav-active" class="nav-link1" alt="Sign up">Sign up</a>
            </ng-template>
        </div>

    </div>
</div>
<hr class="text-muted"> -->

<div class="container nav-cont pt-4">
    <div class="row">
        <div class="col-md-2">

            <a href=javascript:void (click)="login()" class="nav-link1"> <i class="fa fa-bars" aria-hidden="false"></i> | MENU </a>
        </div>

        <div class="col-md-1 offset-7 text-right">
            <a class="nav-link1" href="">HOME</a>
        </div>

        <ng-container *ngIf="isLoggedIn(); then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <div class="col-md-2 text-right">
                <a href=javascript:void(0) class="nav-link1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{username | uppercase}}
          </a>
                <div class="dropdown-menu dropdown-menu-right my-2 p-2" aria-labelledby="dropdownMenuButton">
                    <a href=javascript:void(0) class="nav-link1" alt="Login">PROFILE</a>
                    <a href=javascript:void(0) (click)="logout()" class="nav-link1" alt="Sign up">LOGOUT</a>
                </div>
            </div>
        </ng-template>
        <ng-template #elseTemplate>
            <div class="col-md-2 text-right">
                <a href=javascript:void(0) class="nav-link1" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        LOGIN
          </a>
                <div class="dropdown-menu dropdown-menu-right my-2 p-2" aria-labelledby="dropdownMenuButton">
                    <a routerLink="login" href=javascript:void(0) class="nav-link1" alt="Login">Login</a>
                    <a routerLink="signup" href=javascript:void(0) class="nav-link1" alt="Sign up">Register</a>
                </div>
            </div>
        </ng-template>
    </div>





    <!-- <hr class="custom-hr"> -->
</div>
