<div class="container p-4">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="display-block">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="row my-n5">
                <div><a href="">view all posts</a></div>
            </div><br>

            <div *ngFor="let item of parts; let i=index">
                <div (click)="showPage(item, i)" class="row bg-light personal-post-link my-1 pt-4">
                    <div class="col-md-8">
                        <h5>{{item}}</h5>
                    </div>
                    <div class="col-md-2 small-text font-smaller text-center text-muted border-right">
                        <p>today entries</p>
                        <p>0</p>
                    </div>
                    <div class="col-md-2 small-text font-smaller text-center text-muted">
                        <p>total entries</p>
                        <p>0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
