<div class="container my-3">
    <div class="row">
        <div class="col-md-5 offset-7 text-right">
            <div class="logo  mx-4"><b>WRG Autoparts</b></div>
        </div>
    </div>
    <div class="row my-5">
        <div class="container  text-right">
            <div class="col-md-8 col offset-4 text-right">
                <a href="/" class="nav-link1" alt="Home">Home</a>
                <a href="/" class="nav-link1" alt="Forum">Forum</a>

                <!-- <div class="btn-group">
                      <a href="#" alt="<%= name %>" class="nav-link1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        your name here
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#"><i class="fa fa-user-shield    "></i>&nbsp;&nbsp;&nbsp;Profile</a>
                          <a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Settings</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" id="logout" href="#"><i class="fas fa-sign-out-alt    "></i>&nbsp;&nbsp;&nbsp; Log Out</a>
                      </div>
                  </div> -->

                <a href="login" class="nav-link1" alt="Login">Login</a>
                <a href="/signup" class="nav-link1" alt="Sign up">Sign up</a>
            </div>

        </div>
    </div>
</div>


<router-outlet></router-outlet>


<footer class="container-fluid bg-grey py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h5 class="font-weight-light">powered by fortech</h5>
            <small>copyright<i class="fa fa-copyright" aria-hidden="true"></i> 2019</small>
        </div>
    </div>
</footer>
