<app-navbar>
</app-navbar>

<div class="container-fluid cont">
    <div class="row p-0">
        <div class="col-md-12 p-0">

            <router-outlet></router-outlet>

            <footer class="container-fluid bg-grey py-5">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="logo  mx-4"><b>WRG Autoparts</b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h5 class="font-weight-light">powered by fortech</h5>
                        <small>copyright<i class="fa fa-copyright" aria-hidden="true"></i> 2019</small>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
