.sep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(173, 173, 173);
}

.sepText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sepText::before,
.sepText::after {
    content: '';
    flex: 1;
    width: 1px;
    background: currentColor;
    /* matches font color */
    margin: .25em;
}

.nav-active {
    color: darkgray;
}
