<div class="container card1">
    <div class="row ">
        <div class="col-md-12 form-inline justify-content-center">
            <p>sign in to get started</p>
        </div>
    </div>
    <form action="/login" method="post">
        <div class="row inline-flex new-input">
            <div class="col col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user iconp" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row inline-flex new-input">
            <div class="col col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key  iconp" aria-hidden="true"></i></span>
                    </div>
                    <input type="password" class="form-control input1" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-inline justify-content-center">
                <button type="submit" class="btn btn-secondary ">Submit</button>
            </div>
        </div>

    </form>
</div>