<ng-container *ngIf="working; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
    <app-ui-loader></app-ui-loader>
</ng-template>
<ng-template #elseTemplate>


    <!-- <div class="container mt-5 animated zoomIn">

        <div class="row">
            <div class="col-md-8">
                <div class="can-click"><small>

                {{post.category}} / {{post.sub_category}}</small></div>
                <div>
                    <h1 class="title"> {{post.title}} </h1>
                </div>
            </div>
        </div>

        <div class="row mt-3  personal-post">
            <div class="col-md-8">
                <div class="container shadow-sm">
                    <div class="row  pt-0 pb-0">
                        <div class="col-md-12">
                            <div>
                                <p>{{post.body}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-8 pt-0">
                            <div class="text-muted">
                                <app-display-card [name]="post.username"></app-display-card> |
                                <small class="small-text">{{post.time | date : "E MMM d y "  }} | {{post.time | date : "hh:mm a"  }}  • </small>
                                <small class="small-text">{{post.time | amTimeAgo}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <app-post-status [status]="'open'"></app-post-status>
                        </div>
                    </div>
                </div>
                <form [formGroup]="replyForm">
                    <div class="row">
                        <div class="col-md-12" *ngIf="replyHidden">
                            <ng-container *ngIf="isMobile()">
                                <textarea formControlName="text" class="form-control my-3" placeholder="Message..." name="" id="" cols="30" rows="15"></textarea>
                            </ng-container>
                            <ng-container *ngIf="!isMobile()">
                                <angular-editor formControlName="text" [config]="editorConfig" class="my-3" cols="30" rows="15" [placeholder]="'Enter text here...'"></angular-editor>
                            </ng-container>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-8">
                            <div class="form-check">
                                <label class="form-check-label">
                    <input formControlName="notify" type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                    send reply notification
                  </label>
                            </div>
                        </div>
                        <div class="col-md-4 inline-block">
                            <button (click)="changeReply(true)" [class.btn-primary]="replyHidden" [class.btn-secondary]="!replyHidden" class="btn d-inline-block btn-block">reply</button>
                            <button (click)="changeReply(false)" *ngIf="replyHidden" class="btn btn-secondary d-inline-block btn-block">cancel</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-4">
                <div><small class="text text-center">{{post.category}}</small></div>
                <div><small class="text text-center">{{post.sub_category}}</small></div>
                <div><small class="text text-center">{{post.make}}</small></div>
                <div><small class="text text-center">{{post.model}}</small></div>
                <div><small class="text text-center">{{post.year}}</small></div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-muted">Replies</h3>
                <h6><small class="text-muted my-n2">{{getReplyText()}}</small></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <app-reply-view [replies]="replies"></app-reply-view>
            </div>
        </div>
    </div> -->


    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="can-click-link"><small>

            {{post.category}} / {{post.sub_category}}</small></div>
                <div>
                    <h1 class="title"> {{post.title}} </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container animated zoomIn">
        <div class="row">
            <div class="col-md-8 p-0">

                <div class="container personal-post my-5">

                    <div class="row mb-4">
                        <div class="col-md-12 d-inline">
                            <small class="text-muted d-inline"> {{post.make}} / {{post.model}} / {{post.year}} </small>
                            <div class="d-inline float-right can-click menu">•••</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p class="text-soft indent">{{post.body}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="float-left text-extra-soft small-text">
                                posted by <a href="" class="can-click">{{post.username | titlecase}}</a> {{post.time | amCalendar}}

                            </div>
                            <a class="can-click float-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                              reply?
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-md-4 text-extra-soft ">

            </div>
        </div>
    </div>




</ng-template>
