<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <button (click)="clearUsers()" class="btn btn-primary">clear user data</button>
            <button (click)="clearPosts()" class="btn btn-primary">clear post data</button>
            <button (click)="clearReplies()" class="btn btn-primary">clear reply data</button>
            <button (click)="clearAll()" class="btn btn-primary">clear all data</button>
            <button (click)="clearMongoUsers()" class="btn btn-primary">clear all mongo data</button>

        </div>
    </div>
</div>
