/* You can add global styles to this file, and also import other style files */

:root {
    --main-bg-grad: linear-gradient(rgba(239, 241, 245, 1), rgba(223, 226, 231, 1));
    /* --main-bg-grad: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(223, 226, 231, 1)); */
    --yellow: rgb(254, 201, 7);
    --text-color: rgb(108, 114, 132);
    --text-extra-soft-color: rgba(108, 114, 132, 0.534);
}

.text-soft {
    color: var(--text-color);
    text-shadow: 0px 0px 1.5px rgba(112, 112, 112, 0.192);
}

.text-extra-soft {
    color: var(--text-extra-soft-color);
    text-shadow: 0px 0px 1.5px rgba(112, 112, 112, 0.192);
}

.indent {
    text-indent: 22px;
}

.logo {
    color: rgb(87, 87, 87);
    font-size: 30px;
}

.nav-link1 {
    color: rgb(146, 157, 165);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px rgba(241, 252, 255, 0.384);
}

.nav-link1:hover {
    text-decoration: none;
    color: rgb(125, 134, 141);
}

.custom-hr {
    padding: 0;
    background-color: transparent;
    color: rgb(226, 226, 226);
}

body {
    /* background-color: rgb(240, 242, 245) */
    /* background-color: rgb(229, 235, 240); */
    /* background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgb(232, 234, 243)); */
    background-image: var(--main-bg-grad)
}

footer {
    width: 100%;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 5px;
    padding: 25px;
}

.head {
    /* background-color: aliceblue; */
    padding: 20px 20px 60px 20px;
}

.link-below {
    margin-top: -14px;
}

.card-section {
    /* background-color: aliceblue; */
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
    /* filter: drop-shadow(0px 0px 5px #85ceff1e); */
}

.card-img-top {
    max-width: 45px;
    min-width: 25px;
    width: 44px;
    height: auto;
}

.btn-view {
    border: 1px solid rgb(36, 124, 255, 0)
}

.cat-links a {
    color: rgba(110, 110, 110, .64);
}

.cat-links {
    color: rgba(110, 110, 110, 0.644);
    border: 1px solid rgba(110, 110, 110, 0.644);
    padding: 6px 6px;
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    transition: 1s;
}

.cat-links:hover {
    border-color: green;
}

.current {
    background-color: rgba(130, 158, 179, 0.425);
    border: 1px solid rgba(110, 110, 110, 0.205);
    color: black;
    cursor: pointer;
}

.masthead {
    height: 80vh;
    min-height: 500px;
}

.z-index {
    z-index: 500;
}

.sep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(173, 173, 173);
}

.sepText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.sepText::before,
.sepText::after {
    content: '';
    flex: 1;
    width: 1px;
    background: currentColor;
    /* matches font color */
    margin: .25em;
}

.fa-search {
    color: rgb(175, 175, 175);
    position: absolute;
    left: 43px;
}

.border-personal {
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
    padding: 10px;
}

.login-cont {
    background-color: white;
    padding: 35px 35px 5px 35px;
    border-radius: 5px;
}

input {
    border: none;
    background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.iconp {
    min-width: 0px;
    color: rgb(151, 151, 151);
}

.input1 {
    background-color: rgb(255, 255, 255) !important;
    outline: none;
    outline-width: 0px;
}

.post-box {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.category {
    display: block;
    padding: 10px;
}

.personal-card {
    background-color: rgba(251, 254, 255, 0.575);
    padding: 5px;
    border-radius: 5px;
    border: 0px solid rgba(139, 139, 139, 0.219);
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(206, 212, 216, 0.274);
}

.personal-post-link {
    border: 1px solid rgb(233, 233, 233);
    cursor: pointer;
}

.personal-box {
    height: 98vh;
    overflow: scroll;
    box-shadow: 0px 0px 13px rgb(173, 173, 173);
}

.filterLinks {
    padding: 5px 10px 5px 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 1px;
    cursor: pointer;
}

.filterLinks:hover {
    text-decoration: none;
    color: lightgray;
}

.currentPostFilter {
    border: 2px solid rgb(128, 128, 128);
}

.no-padding {
    padding: 3px 5px 2px 13px;
}

.personal-comment {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid rgba(240, 240, 240, 0.103);
    background-color: rgb(245, 245, 245);
}

.comment {
    margin-top: 3px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(139, 139, 139);
    padding: 10px 10px 5px 10px;
}

.title a {
    color: rgb(53, 53, 53)
}

.small-text {
    font-size: 12px;
    font-weight: 500;
}

.text {
    max-width: 80%;
}

.text span {
    white-space: nowrap;
    /* color: rgb(151, 151, 151); */
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 45vw;
}

.extra-muted {
    color: rgb(202, 202, 202);
}

.pd {
    padding: 0px;
    border: 1px solid rgba(150, 150, 150, 0.219);
    border-radius: 3px;
}

.links {
    color: whitesmoke;
    background-color: rgb(33, 102, 102);
    border-radius: 30px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transition: .31s;
}

.links:hover {
    text-decoration: none;
    background-color: rgb(23, 73, 73);
    color: white;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.status {
    color: whitesmoke;
    border-radius: 30px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transition: .31s;
}

.cont {
    overflow: scroll;
    height: 100vh;
}

.nav-cont {
    border-bottom: 1px solid rgba(110, 110, 110, 0.068);
}

.section-title {
    font-weight: 700;
    color: rgb(121, 132, 141);
}

.letter-image {
    width: 40px;
    height: 40px;
    color: rgb(163, 163, 163);
    border-radius: 40px;
    background-color: rgb(233, 233, 233);
    padding: 5px;
    text-align: center;
}

.car-row {
    font-weight: 800;
    color: rgba(61, 61, 61, 0.63);
    margin-top: -10px;
    background-color: rgba(187, 203, 215, 0);
    border-radius: 1px;
    padding: 1px;
    padding-right: 5px;
    white-space: nowrap;
    /* color: rgb(151, 151, 151); */
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 45vw;
}

.can-click-link {
    color: rgb(231, 96, 96);
    cursor: pointer;
}

.can-click {
    color: rgb(231, 96, 96);
    cursor: pointer;
    /* background-color: rgb(231, 96, 96); */
    text-shadow: 0px 0px 4px rgba(182, 137, 137, 0.479);
    transition: .3s;
}

.can-click:hover {
    color: rgb(175, 71, 71);
    text-shadow: 0px 0px 6px rgba(182, 137, 137, 0.479);
}
