<div class="container card1">
    <div class="row ">
        <div class="col-md-12 form-inline justify-content-center">
            <p>select a category to view</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mx-auto justify-content-center">
            <form [formGroup]="formgroup">
                <div class="form-group">
                    <select formControlName="select" name="Category" id="" class="selectpicker col-md-12 pd" title="Select a category">
                  <option value="Body parts">Body Parts</option>
                  <option value="Body parts">Breaks, Suspension & Steering</option>
                  <option value="Body parts">Engine & Drivetrain</option>
                  <option value="Body parts">Exteriors</option>
                  <option value="Body parts">Headlight & Lighting</option>
                  <option value="Body parts">Interior Accessories</option>
                  <option value="Body parts">Tools & Services</option>
                  <option value="Body parts">Misc</option>
                </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>

    <div class="row">
        <div class="col-md-12 form-inline justify-content-center">
            <button type="submit" class="btn btn-secondary ">Submit</button>
        </div>
    </div>
</div>
